html {
    font: 'helveca';
    color: black;
    font-family: 'Bowlby One SC', cursive;
}

body {
    background-color: darkolivegreen;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 65px;
}